{#
/**
 * @file
 * Display Suite 1 column wrapper template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - ds_content_wrapper: wrapper around content
 * - attributes: outer wrapper attributes
 * - ds_content_attributes: attributes for ds_content region
 * - ds_content: content of ds_content region
 */
#}
<{{ outer_wrapper }}{{ attributes.addClass('ds-card-short', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <div class="card-wrapper">

    <{{ header_wrapper }}{{ attributes.addClass('header-wrapper') }}>
      {{ header }}
    </{{ header_wrapper }}>

    <div class="info-row">

      <{{ date_wrapper }}{{ attributes.addClass('date-wrapper') }}>
        {{ date }}
      </{{ date_wrapper }}>

      <{{ location_wrapper }}{{ attributes.addClass('location-wrapper') }}>
        {{ location }}
      </{{ location_wrapper }}>

    </div>

    <{{ action_wrapper }}{{ attributes.addClass('action-wrapper') }}>
      {{ action }}
    </{{ action_wrapper }}

  </div>

</{{ outer_wrapper }}>
